<%= form_with(model: topic, local: true) do |form| %>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">https://www.quora.com/topic/</span>
    </div>
    <%= form.text_field :quora_slug, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.submit "Add Topic", class: 'btn btn-primary' %>
  </div>
<% end %>
